html {
  font-size: 26, 5%;
}

.bg-white {
  background: white;
}

.bg-white-primary {
  background: #e6e7e7;
}

.bg-white-secondary {
  background: #f5f5f5;
}

.bg-red {
  background: #ff594e;
}

.bg-grey {
  background: #e5e7e7;
}

.bg-grey-primary {
  background: #484b57;
}

.bg-grey-secondary {
  background: #3b4157;
}

.bg-grey-granite {
  background: #606160;
}

.bg-orange {
  background: #ff594e;
}

.bg-green {
  background: #1fab36;
}

.cl-white-primary {
  color: white;
}

.cl-white-secondary {
  color: #f5f5f5;
}

.cl-red {
  color: #ff594e;
}

.cl-grey {
  color: #a6a7a7;
}

.cl-grey-primary {
  color: #484b57;
}

.cl-grey-secondary {
  color: #3b4157;
}

.cl-green {
  color: #1fab36;
}

.cl-green-primary {
  color: #198754;
}

.bg-image {
  height: calc(98vh - 56px);

  background-image: url("./img/background-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

.text-subtitle {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.text-offer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.initial-video {
  width: 640px;
  height: 360px;
}

.section__top {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.explanation {
  position: relative;

  padding: 7vh 18vw;
}

.explanation__text {
  width: 100%;
}

.explanation__img {
  position: absolute;
  bottom: 0;
  right: 18vw;

  width: 24%;
}

.explanation__paragraph {
  width: 64%;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.offer {
  position: relative;
  padding: 14vh 0;
}

.offer__img {
  position: absolute;

  width: 230px;
}

.offer__subtitle {
  position: absolute;

  padding-top: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.offer__title {
  padding-top: 5vh;
  padding-bottom: 8vh;
}

.offer__content {
  font-family: "Roboto", sans-serif;
}

.package {
  z-index: 1;

  width: 360px;
}

.package__title {
  font-weight: 700;
  font-size: 1.4rem;
}

.package__box {
  cursor: pointer;

  width: 80px;
  height: 70px;
}

.package__box.active {
  background: #1fab36;
}

.package__box b {
  font-weight: 700;
  font-size: 1.6rem;
}

.package__box.active b {
  color: white;
}

.package__box span {
  font-weight: 700;
  font-size: 0.9rem;
}

.package__box.active span {
  color: white;
}

.package__button {
  font-weight: 700;
  font-size: 1rem;
}

.signature {
  position: relative;

  width: 360px;
}

.signature__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.signature__description span {
  font-weight: 400;
  font-size: 0.9rem;
}

.signature__check-icon-mobile {
  cursor: pointer;
}

.signature__paragraph {
  font-weight: 400;
  font-size: 0.9rem;
}

.signature__img-badge {
  position: absolute;
  top: -54px;
  right: -5px;

  width: 80px;
}

.devolution {
  padding: 14vh 0;
}

.devolution__content {
  width: 68vw;
}

.devolution__img-warranty {
  width: 46%;
}

.devolution__paragraph {
  font-weight: 400;
  font-size: 0.9rem;
}

.results {
  padding: 0 10vw 60px 10vw;
}

.results__img-list--top {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.results__img--top {
  width: 450px;
}

.results__img-list--bottom {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.results__img--bottom {
  width: 450px;
}

.results__paragraph {
  padding: 0 10vw;

  font-weight: 400;
  font-size: 0.9rem;
}

@media (max-width: 1370px) {
  .explanation {
    padding: 7vh 16vw;
  }

  .explanation__paragraph {
    width: 64%;
  }

  .explanation__img {
    right: 16vw;

    width: 24%;
  }

  .results__paragraph {
    padding: 0 8vw;
  }
}

@media (max-width: 900px) {
  .initial-video {
    width: 90vw;
    height: 60vh;
  }

  .text-title {
    font-weight: 700;
    font-size: 2rem;
  }

  .text-subtitle {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .explanation {
    padding: 7vh 6vw;
  }

  .explanation__img {
    right: 8vw;

    width: 30%;
  }

  .devolution__content {
    width: 86vw;
    padding: 30px !important;
  }

  .devolution__img-warranty {
    width: 100%;
  }

  .results__img--top-second {
    display: none;
  }

  .results__img--bottom-second {
    display: none;
  }

  .results__paragraph {
    padding: 0 0;
  }

  .results__img-list--top,
  .results__img-list--bottom {
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .bg-image {
    background-image: url("./img/background-mobile.jpg");
  }

  .initial-video {
    width: 88vw;
    height: 40vh;
  }

  .text-title {
    font-weight: 700;
    font-size: 1.6rem;
  }

  .text-subtitle {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .explanation__img {
    display: none;
  }

  .explanation__paragraph {
    width: 100%;
  }

  .offer__title {
    text-align: center;
  }

  .offer__content {
    flex-direction: column !important;
    gap: 60px !important;
  }

  .package {
    z-index: 0;
  }

  .devolution__content {
    flex-direction: column;
  }

  .devolution__img-warranty {
    width: 50%;
  }

  .devolution__paragraph {
    text-align: center;
  }

  .results {
    padding: 0 4vw 20px 4vw;
  }

  .results .section__top br {
    display: none;
  }

  .results__img--top-first,
  .results__img--bottom-first {
    width: 100%;
  }

  .results__img--top-second,
  .results__img--bottom-second {
    display: none;
  }

  .results__paragraph {
    text-align: center;
  }
}
